
#body-background{

    background-color: white;
    width: 100%;
    border: solid orange 1px;
    padding-left: 70px;
    padding-right:0px;
    
}


.border-block{

    width: 1365px;
    height: 10px;
    background-color: cornsilk;

}

.theme-btn{

    width:50px;
    height:29px;
    background-color: midnightblue;
    border: solid orangered 1px;
    margin-left: 15px;
    border-radius: 12px;
    font-size: 9px;
    color: white;
    visibility: hidden;
}

.logo{

    color: whitesmoke;
    font-size: 32px;
       position:relative;
       bottom:9.5px;
  
}


#side-bar{

    width: 140px;
    height:700px;
    top:105px;
    position: absolute;
    bottom:5px;
    left:1252px;
    z-index: -20px;
    border-radius: 8px;
}


.side-bar-endpoint{

    background-color: cornsilk;
    height: 182px;
   
}

#panel-item-top{
height: 120px;
padding-top: 30px;
color: Maroon;
font-size: 27px;
font-family: 'Gruppo', cursive;

}
.panel-item{

    border: solid whitesmoke 2.5px;
    color: orangered;
    font-size:25px;
    height: 150px;
    background-color: midnightblue;
    padding-top: 50px;
    font-family: 'Gruppo', cursive;
    font-weight: 6em;
}

.panel-item:hover{

    border-color:mediumblue;
}

.coming-soon{

    color: gold;
    opacity: .13;
}

.coming-soon:hover{

    opacity: .9;
    color:whitesmoke;
    z-index: 50px;
}

.header{

    background-color: midnightblue;
    color: orangered;
    width: 1365px;
    height: 80px;
 font-family: 'Rancho', cursive;


}

#sub-header{

    position: relative;
    bottom:14px;
    font-size:16px;
}

.click-count-div{


 
    color: orange;

}

.count-div{

    margin-left:190px;
    width: 100px;
    height:70px;
    font-size: 10px;
    
}

.search-heading{

    /*color: rgba(250,69,0,.90);*/
    color: midnightblue;
    font-size: 17px;
    font-family: 'Gruppo', cursive;

}

#search-btn{
        /*color: rgba(250,69,0,.90);*/
        color: white;
    background-color: rgba(25,25,112, .98);
    margin-top: 0px;
       font-family: 'Gruppo', cursive;
       font-size: 13px;
       border: solid #121254 4px;
       width:56px;
       height: 34px;
       padding: 2px 2px 2px 2px;
}


.search-form{
/*
    background-color: rgba(25,25,112, .45);*/
    background-color: smokewhite;
    width:500px;
    /*border: solid rgba(250,69,0,.90) 1.5px;*/
    border-left: solid midnightblue 1.5px;
      border-right: solid midnightblue 1.5px;
    margin-left: 302px;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-left:5.5px;
    padding-top: 6px;
}


#term{

width: 230px;
/*border: solid rgba(250,69,0,.90) 3px;*/
border: solid black 2px;
border-radius: 10px;
margin-left: 132px;
margin-top: 15px;
color: orangered;
}

.history-heading{

    color:rgba(250,69,0,.90);
    font-size: 15px;
   position: relative;
   bottom:14px;
    height:30px;
}

.history-container{

    background-color: rgba(25,25,112, .45);
    border: solid  rgba(250,69,0,.90) 2px;
    width:420px;
    height:210px;
        border-radius: 6px;
    overflow: scroll;
}

#results-well{

    /*border: solid midnightblue 5.25px;*/


    border-top: solid midnightblue 5.25px;
    border-bottom: solid midnightblue 5.25px;

/*border-color: linear-gradient(
    to bottom, 
    white 90%, 
    darkgreen 10%
   );*/


    
    border-radius: 6px;
    background-color smokeWhite;
     height: 400px;
     width: 1100px;
         margin-top: 70px;
    /*overflow:scroll;*/
    color: saddleBrown;
    font-size: 24px;
}



.article-hold{
    background-color: rgba(255, 248, 220,.2);
    overflow:scroll; 
    /*border: solid cornsilk 5.5px;*/
    border-left: solid cornsilk 6.5px;
    border-right: solid cornsilk 6.5px;
    border-radius: 9px;
    height: 375px;
    width: 1100px;
    margin-top: -7px;
    margin-left: -16px;
    padding-left:6px;
    padding-right: 6px;
            
}

.article-count{

    border: solid midnightblue .3px;
    font-size: 11px;
    border-radius: 30px;
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 1px 1px 1px 1px;
   position: relative;
   bottom: 20px;


}

.article-headline{

    border-bottom: solid midnightblue .6px;
    padding-bottom: 9px;

    color: black;
   
}

#title{

       /*font-family: 'Gruppo', cursive;*/

    /*font-family: 'Bree Serif', serif;*/

/*font-family: 'Palanquin Dark', sans-serif;*/

/*font-family: 'Permanent Marker', cursive;*/

/*3*/

font-family: 'Artifika', serif;
font-size: 40px;
 /*font-family: 'Rancho', cursive;*/

}


.snippit{

    font-size: 13px;
    color: black;
    margin-top: 0px;
}

.read-me-link{

width: 90px;
background-color: whitesmoke;

border-radius: 20px;
color:midnightblue;
padding: 5px 5px 5px 5px;
font-size: 15px;
}

.by-line{

    font-size: 16px;
        border-bottom: solid black .3px;
        padding-bottom: 3px;
        width: 400px;
        margin-left: 337px;
        color: midnightblue;
}

.publish-date{

    font-size: 8px;
    color: black;
    margin-right: 20px;
}


/*discussion board*/

#discussion-board-header{

    font-size: 20px;
    color: mediumblue;
}


.quote-section{

    /*border: solid midnightBlue 6px;*/
    border-top:solid midnightBlue 6px;
    border-bottom: solid midnightBlue 6px;
    margin-top: 490px;
    height: 550px;
    width:1160px;
    border-radius: 6px;


}
.quotes-hold{

    /*border: solid cornsilk 5.5px;*/
    border-right:solid cornsilk 5.5px;
    border-left: solid cornsilk 5.5px;
    width: 1158px;
    height: 540px;

}

#submit-section{

    background-color: rgba(255, 248, 220, .5);
    width:1100px;
    margin-left: 20px;
    border-left: solid midnightblue 2px;
    border-right: solid midnightblue 2px;
    border-bottom: solid midnightblue 2px;
    border-top: solid smokewhite 3px;
    color: midnightblue;
    border-radius: 10px;
}

#discussion-head{

font-family: 'Artifika', serif;

}


#discussion-well{

    background-color: smokewhite;
    width:1147px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
    margin-left:2px;
    color: #121254;

  
}

.quote {
  padding-top: 20px;
}


#submit-comment{

    color: smokewhite;
    background-color: midnightblue;
     font-family: 'Gruppo', cursive;
       font-size: 13px;
}