
#body-background{

    background-color: white;
}


.border-block{

    width: 1350px;
    height: 10px;
    background-color: cornsilk;

}

.theme-btn{

    width:50px;
    height:29px;
    background-color: midnightblue;
    border: solid orangered 1px;
    margin-left: 15px;
    border-radius: 12px;
    font-size: 9px;
    color: white;
}

.logo{

    color: cornsilk
}

.header{

    background-color: midnightblue;
    color: orangered;
    width: 1350px;
    height: 80px;
 

}

.click-count-div{


 
    color: orange;

}

.count-div{

    margin-left:190px;
    width: 100px;
    height:70px;
    font-size: 10px;
    
}

.search-heading{

    /*color: rgba(250,69,0,.90);*/
    color: midnightblue;
    font-size: 14px;

}

.search-btn{
        color: rgba(250,69,0,.90);
    background-color: rgba(25,25,112, .98);
    margin-top: 0px;
}


.search-form{
/*
    background-color: rgba(25,25,112, .45);*/
    background-color: smokewhite;
    width:500px;
    /*border: solid rgba(250,69,0,.90) 1.5px;*/
    border-left: solid midnightblue 1.5px;
      border-right: solid midnightblue 1.5px;
    margin-left: 302px;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-left:5.5px;
    padding-top: 6px;
}


#term{

width: 230px;
/*border: solid rgba(250,69,0,.90) 3px;*/
border: solid black 2px;
border-radius: 10px;
margin-left: 132px;
margin-top: 15px;
color: orangered;
}

.history-heading{

    color:rgba(250,69,0,.90);
    font-size: 15px;
   position: relative;
   bottom:14px;
    height:30px;
}

.history-container{

    background-color: rgba(25,25,112, .45);
    border: solid  rgba(250,69,0,.90) 2px;
    width:420px;
    height:210px;
        border-radius: 6px;
    overflow: scroll;
}

#results-well{

    /*border: solid midnightblue 5.25px;*/


    border-top: solid midnightblue 5.25px;
    border-bottom: solid midnightblue 5.25px;

/*border-color: linear-gradient(
    to bottom, 
    white 90%, 
    darkgreen 10%
   );*/


    
    border-radius: 6px;
    background-color smokeWhite;
     height: 400px;
     width: 1100px;
         margin-top: 70px;
    /*overflow:scroll;*/
    color: saddleBrown;
    font-size: 24px;
}



.article-hold{
    background-color: smokewhite;
    overflow:scroll; 
    /*border: solid cornsilk 5.5px;*/
    border-left: solid cornsilk 6.5px;
    border-right: solid cornsilk 6.5px;
    border-radius: 9px;
    height: 375px;
    width: 1100px;
    margin-top: -7px;
    margin-left: -16px;
    padding-left:6px;
    padding-right: 6px;
            
}

.article-count{

    border: solid midnightblue .3px;
    font-size: 11px;
    border-radius: 30px;
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 1px 1px 1px 1px;
   position: relative;
   bottom: 20px;


}

.article-headline{

    border-bottom: solid midnightblue .6px;
    padding-bottom: 9px;

    color: black;
   
}


.snippit{

    font-size: 12px;
    color: black;
    margin-top: 0px;
}

.read-me-link{

width: 90px;
background-color: whitesmoke;

border-radius: 20px;
color:midnightblue;
padding: 5px 5px 5px 5px;
font-size: 15px;
}

.by-line{

    font-size: 16px;
        border-bottom: solid black .3px;
        padding-bottom: 3px;
        width: 400px;
        margin-left: 337px;
        color: midnightblue;
}

.publish-date{

    font-size: 8px;
    color: black;
    margin-right: 20px;
}


/*discussion board*/

#discussion-board-header{

    font-size: 20px;
    color: mediumblue;
}


.quote-section{

    /*border: solid midnightBlue 6px;*/
    border-top:solid midnightBlue 6px;
    border-bottom: solid midnightBlue 6px;
    margin-top: 490px;
    height: 550px;
    border-radius: 6px;


}
.quotes-hold{

    /*border: solid cornsilk 5.5px;*/
    border-right:solid cornsilk 5.5px;
    border-left: solid cornsilk 5.5px;
    width: 1158px;
    height: 540px;

}

#submit-section{

    background-color: cornsilk;
    width:1100px;
    margin-left: 20px;
    border-left: solid midnightblue 2px;
    border-right: solid midnightblue 2px;
    border-bottom: solid midnightblue 2px;
    border-top: solid smokewhite 3px;
    color: midnightblue;
    border-radius: 10px;
}

#discussion-well{

    background-color: smokewhite;
  
}

.quote {
  padding-top: 20px;
}


#submit-comment{

    color: smokewhite;
    background-color: midnightblue;
}